.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form {
  min-width: 600px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 5px;
  padding: 18px 28px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.form-group input {
  border: 1px solid #ccc;
  line-height: 2rem;
  font-size: 1.8rem;
  border-radius: 4px;
}

.preview-image {
  width: 82px;
  height: auto;
}
